html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

#current-up {
  transition: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2px;
  user-select: none;
}

#msg span:nth-child(2n) {
  color: red;
}

#msg span:nth-child(2n+1) {
  color: green;
}
